/* Reset */

html, body, span,h1, h2, h3, h4, h5, h6, p, pre, a,img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #fff;

}
div{
    color: #000;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
    background-color: #FFA07A;
    text-align: center;
}
h3{
    color: #FFA07A;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}
/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: letra;
    src: url(Quicksand-Regular.ttf);
}

p, input, button, a, td, th {
    font-family: letra;
}

nav{
    width: 100%;
    background-color: #CD5C5C;
    position: fixed;
    z-index: 100;
    min-height: 5vh;
    text-align: center;
}

nav ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    width: 12%;
}
nav ul li a, .dropbtn{

    color: #CD5C5C;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

nav ul li a:hover, .DropDown:hover .dropbtn{
    background-color: #FFA07A;
}

.DropDown-content{
    display: none;
    position: absolute;
    background-color: #CD5C5C;
    z-index: 1;
    width: 12%;
}

.DropDown-content a{
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-align: left;
}

.DropDown:hover .DropDown-content{
    display: block;
}
main{
    padding-top: 7vh;
}

footer{
    width: 100%;
    padding: 10px;
    background-color: #CD5C5C;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
    min-width: 100%;
}

th, td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: #EB2020;
}

.border-botton{
    border-bottom: 3px solid #FFF;

}
.cuadro{
    border-radius: 15px;
    padding: 3vh 2vw;
    text-align: center;
    box-shadow: 10px 10px 30px rgb(32,32,32);
    margin: 1vh 1vw;
}

.renglon{
    display: flex;
    justify-content: space-around;
}

.renglon-2{
    display: flex;
    justify-content:flex-end;
}

.btn{
    display: inline-block;
    font-size:18px;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    padding: 0.2em 0.5em;
}
.btn-blanco {
    color: #000000;
    border: 1px solid #F08080;
    background-color: #F08080;
}
.btn-blanco:hover {
    color: #F08080;
    background-color: rgb(46,46,46);
    border: 1px solid rgb(46,46,46);
}
.btn-verde{
    border: 1px solid rgb(0,153,0);
    background-color: white;
}

.btn-verde:hover{
    background-color: rgb(0,153,0);
    color: white;
}

.btn-azul{
    border: 1px solid rgb(0,102,204);
    background-color: white;
}

.btn-azul:hover{
    background-color: rgb(0,102,204);
    color: white;
}

.btn-rojo{
    border: 1px solid rgb(204,0,0);
    background-color: white;
}

.btn-rojo:hover{
    background-color: rgb(204,0,0);
    color: white;
}

.btn-amarillo{
    border: 1px solid rgb(241,196,15);
    background-color: white;
}

.btn-amarillo:hover{
    background-color: rgb(241,196,15);
    color: white;
}


.tb-dato{
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    background-color: white;
    padding: 0.2em 0.5em;
}

.lbl{
    font-size: 20px;
}
.lbl-40{
    font-size: 40px;
}

.left {
    text-align: left;
}

.lbl-bold{
    font-weight: bold;
    font-size: 18px;
}
.center{
    text-align: center;
}

.colorMenu{
    background-color: rgba(32,32,32,0.5);
}
.time{
    font-size:14px;
}
.mg{
    margin-left: 5px;
    margin-right: 5px;
}
